<h2>Device Registration Data Collection</h2>
<br>
<h4>[BLOG]</h4>
<h4>
    <a href="https://jpazureid.github.io/blog/azure-active-directory/troubleshoot-hybrid-azure-ad-join-managed/" target="_blank">Hybrid Azure AD Join 失敗時の初動調査方法について (マネージド編)</a>
</h4>
<h4>
    <a href="https://jpazureid.github.io/blog/azure-active-directory/troubleshoot-hybrid-azure-ad-join-federated/" target="_blank">Hybrid Azure AD Join 失敗時の初動調査方法について (フェデレーション編)</a>
</h4>
<br>
<h4>[資料採取]</h4>
<h4>
    @Html.ActionLink("Pattern1: Run Automatic-Device-Join Task manually", "RunTask", "DsReg")
</h4>
<h4>
    @Html.ActionLink("Pattern2: Lock/Unlock", "LockUnlock", "DsReg")
</h4>
<h4>
    @Html.ActionLink("Pattern3: Run Automatic-Device-Join Task manually (Detail)", "RunTaskDetail", "DsReg")
</h4>
<h4>
    @Html.ActionLink("Pattern4: Lock/Unlock (Detail)", "LockUnlockDetail", "DsReg")
</h4>
<br>
<br>

<!--
<h5>
    <a href="https://microsoft.sharepoint.com/teams/Azure2/_layouts/15/download.aspx?SourceUrl=%2Fteams%2FAzure2%2FShared%20Documents%2FGeneral%2FAuth%2FAADTrace%2Ezip">Download AADTrace.zip</a>
</h5>
-->
<h5>@Html.ActionLink("Back to Top", "Index", "DataCollection")</h5>
